@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-bottom">
    <div class="wrap">
        <div class="section group example">
            <div class="col_1_of_header span_1_of_header">
                <img src="~/img/banner1.jpg" alt="" />
            </div>
            <div class="col_1_of_header span_1_of_header">
                <h3>Yo soy Firulais</h3>
                <p id="color-p">Me siento muy feliz porque me compraron hoy y gracias a eso tengo un hogar donde dormir y donde comer.</p>
                <button class="btn1 btn-1 btn-1a">Leer Mas</button>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div><div>
</div>
<div class="main">
    <div class="top-box">
        <div class="wrap">
            <div class="content-top">
                <div class="section group">
                    <div class="col_1_of_3 span_1_of_3">
                        <div class="grid_4 alpha vline">
                            <h3>Lucho</h3>
                            <div class="thumb-pad1 tp1">
                                <div class="thumbnail clearfix">
                                    <figure>
                                        <img src="~/img/pic.jpg" alt="" /><em></em>
                                    </figure>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="more1">
                                <a href="#" class="more_btn">Ver mas</a>
                            </div>
                        </div>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <div class="grid_4 alpha vline">
                            <h3>Manchas </h3>
                            <div class="thumb-pad1 tp1">
                                <div class="thumbnail clearfix">
                                    <figure>
                                        <img src="~/img/pic1.jpg" alt="" /><em></em>
                                    </figure>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="more1">
                                <a href="#" class="more_btn">Ver mas</a>
                            </div>
                        </div>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <div class="grid_4 alpha vline">
                            <h3>Niña </h3>
                            <div class="thumb-pad1 tp1">
                                <div class="thumbnail clearfix">
                                    <figure>
                                        <img src="~/img/pic2.jpg" alt="" /><em></em>
                                    </figure>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="more1">
                                <a href="#" class="more_btn">Ver mas</a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
