    @font-face{
        font-family:velocity;
        src:url('../../fonts/velocity-font.ttf');
    }
    *{
        margin: auto;
        padding: 0;
    }
    body{
        font-family: Century Gothic;   
        background-color: #fFF;
    }
    .header-profile{
        position: fixed;
        background-color: #203c67;
        width: 100%;
        height: 69px;
        border: 1px solid transparent;
        box-shadow: 0px 0px 10px #000;
        z-index: 3;
    }
    header span{
        position: absolute;
        font-family: velocity;
        color: #f7f7f7;
        font-size: 40px;
        margin-left: 30px;
        margin-top: 10px;
    }
    header img{
        float: right;
        margin-top: 5px;
        margin-right: 10px;
    }
     nav{
        position: fixed;
        background-color: #203c67;
        width: 230px;
        height: 100%;
        margin: 0 auto;
        float: left;
        border: 1px solid transparent;
        margin-top:71px;
        z-index: 3; 
    }
    .title-menu{
        display: none;
        box-shadow: 0px 0px 10px #000;
    }
     nav ul{
        overflow: hidden;
        list-style: none;    
    }
    nav ul li:first-child{
        border-top:1px  solid rgba(225,255,255,0.3);
    }
     nav ul li{
        display: block;
        border-bottom:1px  solid rgba(225,255,255,0.3);
    }
     nav ul li a{
        color: #fff;
        padding: 20px;
        display: block;
        text-decoration: none;   
    }
     nav ul li span{
        margin-right: 10px;  
    }
     nav ul li a:hover{
       background-color:#182a57;
         color:	#fff;
    }
 .active{
       background-color:#182a57;
    color:	#203c67 
    }

    #content-principal{
        position:absolute;
        padding: 10px;
        margin-top: 70px;
        margin-left: 231px;
    }
    #graficoPastel{
        margin: auto;
        width: 450px;
        height: 350px;
        margin-bottom: 20px;
    }
    #content-principal h1{
        font-size:27px ;
        text-align: center;
        color: #213c67;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    #fixed-menu{
        position: fixed;
        z-index: 3;
    }
    .info-seccion{
        text-align: justify;
        color: #ED533B;
        font-size: 18px;
        font-weight:bold;
    }
    #loading{
        text-align: center;
        color:	#FFFFFF;
        font-weight:bold;
    }
   
    /*--------------------inicio buscador-----------------*/
    #area-busquedas{
        display: inline-block;
        padding: 5px;
        float: right;
        margin-top:2px;
        position: relative;
    }
    .btn-Registro{
        width: 130px;
        height: 35px;
        background-color:#203c67;
        color: #98999b;
        border: solid 2px #215BA2; 
        cursor: pointer;
    }
    .btn-Registro a{
       text-decoration: none;
       color: #f1f1f1;
    }
    .txtbuscador{
        width: 300px;
        height: 35px;
        background-color: #203c67;
        color: #f1f1f1;
        border: solid 2px #215BA2;  
        padding:10px;
        margin-left:-5px;  
    }
    .btn-search{
        width:40px;
        height: 35px;
        background-color:#203c67;
        border: solid 2px #215BA2; 
        margin-left:-5px;
        cursor: pointer;
    }
.btn-search span{
    color: #f1f1f1;
}
    /*---------------fin buscador----------------*/
     #vete{
        visibility: hidden;
     }
    /*---------------inicio resultados busquedas empresas----------------*/
    .container-result{
        margin: 0 auto;
        margin-left: 40px;
    }
    .resultSearch{
        display: inline-block;
        width: 150px;
        height: 200px;
        box-shadow: 0px 0px 10px #203c67;
        margin-right: 55px;
        margin-top: 20px;
        font-family: cursive;
        background-color: #BFBEF0;
        font-family: Century Gothic;
    }
    .listReset{
        list-style: none;
    }
     ul li a{
        text-decoration: none;
    }
     li a img{
        width: 150px;
        height: 90px;
        position: absolute;
    }
     li a h2{
        color: #203c67;
        font-size: 14px;
        text-align: center;
        margin-top: 103px;
         height: 70px;
    }
     li a p{
        color: #203c67;
        font-size: 12px;
        text-align: center;
    }
   
 /*---------------fin resultados busquedas empresas----------------*/


 /*---------------inicio resultados busquedas clientes----------------*/
    .resultSearchC{
        display: inline-block;
        width: 250px;
        height: 300px;
        border-radius: 5px;
        margin-right: 55px;
        margin-top: 30px;
        padding: 8px;
        text-align: center;
        border: solid 2px #203c67;
    }
    .resultSearchC p{
        line-height: 30px;
        color: #203c67;
        font-size: 14px;
    }
    .buttons-dataC{
        text-align: center;
    }
     li a h3{
        color:#00ccff ;
        font-size: 16px;
        text-align: center;
    }
     li h3{
        color:#203c67;
         height: 70px;
    }
 /*---------------fin resultados busquedas clientes----------------*/

    /************************INICIO VENTANA MODAl**********************/
    .ventanaModal , .ventanaModalR,.ventanaModalRClientes,.ventanaModal-edit-cli,.ventanaModal-edit-em{
        width: 100%;
        height: 100%;
        color: #fff;
        position: fixed;
        background-color: rgba(2,2,0,.5);
        top:0;
        left: 0;
        display: none;
        z-index: 6;
    }
   .content-modal, .content-modal-RClie {
    width: 400px;
    height: auto;
    padding: 25px;
    background-color: #203c67;
    border: solid 2px #00ccff;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -175px;
    margin-top: -295px;
    text-align: center;
}
    .content-modalR{
        width: 400px;
        height: auto;
        padding: 25px;
       background-color: #203c67;
        border: solid 2px #00ccff; 
        color:#ffffff;
        top:50%;
        left: 50%;
        position: absolute;
        margin-left: -175px;
        margin-top:  -290px;
        text-align: center;  
    }
    
    #title-modal{
        width: 100%;
        height: 40px;
        display: block;
        margin-bottom: 40px;
        text-align: left;
    }
    .content-modal h2{
        font-size: 22px;
        float: left;
    }
    .content-modal h3{
        margin-bottom: 10px;
        margin-top: 10px;
        text-transform: uppercase;
    }
    .content-modal p{
        margin-bottom: 10px;
    }
    .btn-modal , .btnModalsalir{
        width: 100px;
        height: 30px;
        background-color: #A0A9CD;
        border: 0;
        color: #213c67;
        font-size: 16px;
        margin-top: 40px;
    }
    .btn-modal span{
        margin-left: 10px;
        font-size: 15px;

    }.btn-modal.regresar{
        float: right;
    }
    .btn-modal.regresarR, .btnModalsalir{
        float: right;
        margin-top: -25px;
    }
    .btn-modal a ,.btnModalsalir a{
        text-decoration: none;
        color:#213c67;
    }
    .info-modal img{
        width: 150px;
        height: auto;
    }
    #formulario input{
        width: 250px;
        height: 15px;
        margin-bottom: 5px;
        margin-top: 5px;
        background-color: #2c2c2c;
        color: #98999b;
        border: solid 2px #00ccff;  
        padding:10px;
    }
    .cbxMedidas{
        margin: 0;
        padding: 0;
        width: 273px;
        height: 38px;
        margin-bottom: 5px;
        margin-top: 5px;
        background-color: #2c2c2c;
        color: #98999b;
        border: solid 2px #00ccff;  
        
    }
/************************FIN VENTANA MODAl**********************/

/************************INICIO EDICION EMPRESAS******************/

    .content-modal-edit{
        width: 400px;
        height: auto;
        padding: 25px;
        background-color: #203c67;
        border: solid 2px #00ccff; 
        color:#ffffff;
        top:50%;
        left: 50%;
        position: absolute;
        margin-left: -175px;
        margin-top:  -285px;
        text-align: center;
    }
    #btnGuardar{
        margin-top: 10px;
    }
/************************FIN EDICION EMPRESAS******************/

/*---------------------------INICIO DISEÑO TABS REPORTES------------------------*/
      .tabs-nav{
        overflow: auto;
        list-style: none;
        border-bottom:6px  solid #3ba1c7;   
    }
    .tabs-nav li{
        text-align: center;
        float: left;
        width: 200px;
    }
    .tabs-nav a{
        color: #4590a7;
        font-size: 30px;
    }
    .tabs-nav li:hover{
        background-color: #3ba1c7;
    }
    .tabs-nav a:hover{
        color: #f2fbff;
    }
    .contenido{
        padding: 20px;
    }
    #pestana1{
        background-color: #3ba1c7;
        color: #f2fbff;
    }
    #pestana1 a{ 
        color: #f2fbff;
    }
    .reportes-busquedas{
     height: 50px;
    }
    .txtbuscador2{
        float: left;
        width: 215px;
        height: 35px;
        background-color:#203c67;
        color: #98999b;
        border: solid 2px #215BA2;
        padding:10px;
    }
    .btn-search2{
        float: left;
        width:40px;
        height: 35px;
        background-color:#203c67;
        border: solid 2px #215BA2;
        margin-left:-4px;
        cursor: pointer;
        }
.btn-search2 span{
    color:#fff;
}
    .ResultClientes,.ResultEmpresas{
        width: 250px;
        height: 370px;
        min-height:370px;
        float: left;
        border: solid 2px #3f9ece; 
        overflow: auto;  
    }
    .ResultClientes ul,.ResultEmpresas ul{
        list-style: none;
        color:#203c67;
    }
    .ResultClientes ul li,.ResultEmpresas ul li{
        line-height: 20px; 
        border-bottom:1px solid rgba(205,205,205,0.8);
        padding: 10px;
        cursor :pointer;
    }
    .Area-Resultados-table{
        float: left;
    }
    .filtros{
        height: 50px;
    }
    .filt1,.filt2{
        float: left;
        text-align: center;
        width: 730px;
        border: solid 2px #215BA2;
        background-color: #203c67;
        color:#3ba1c7;
        padding:5px;
    }
     #contentTable{
         width:750px;
         height: 370px;
         min-height:370px;
         overflow:auto;
         margin-bottom: 10px;
    }
    .tblResult{
        border: solid 1px #afafaf;
        border-collapse: collapse;
        color:#203c67;   
    } 
    .tblResult thead{
        background-color: #3ba1c7;
        text-align: center;
    }
     .tblResult thead td{
          line-height: 40px;
    }
      .tblResult td{
        border: solid 1px #afafaf;
    }
    .tblResult td:nth-child(1){
        width: 187.5px;
    }
     .tblResult td:nth-child(2){
        width: 187.5px;
    }
     .tblResult td:nth-child(3){
        width: 60px;
    }
     .tblResult td:nth-child(4){
        width: 315px;
    }
    .tblResult tbody td{
        text-align: center;
    }
    .tblResult tbody tr:hover{
        background-color: #747474;
    }
    .btnPDF{
        float: right;
        width: 150px;
        height: 30px;
        background-color: #A0A9CD;
        border: 0;
        color: #213c67;
        font-size: 16px;

    }
/*---------------------------FIN DISEÑO TABS REPORTES---------------------------*/




/*---------------------------Media Queries---------------------------*/
/*Pantalla celular*/
@media screen and (max-width: 480px) {
    .header-profile{
        display: none;   
    }
    nav{
        top:70px;
        width: 90%;
        height: 100%;
        left: -100%;
        margin: 0 auto;
        border: 1px solid transparent;
        z-index: 3; 
        transition: all .3s;
    }  
    nav.mostrar {
        left: 0;
    }
    .title-menu{
        display: block;
        width: 100%;
        background-color:#203c67;
        text-align: center;
    }
    .title-menu .btn-menu{
        display: block;
        padding: 20px;
        background-color:#203c67;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        box-sizing: border-box;   
    }
    .title-menu span{
        float: left;
        font-size: 30px;
    }
     #content-principal{     
        margin: 0;
        margin-top: 70px;
        width: 92%;
    }
     #graficoPastel{
        margin: auto;
        width: 80%;
        min-width: 201px;
        max-width: 450px;
    }
     .container-result{
        width: 96%;
        margin: 0 auto;
        margin-top: -160px;
    }
    .btn-Registro{
        width:100%;
        min-width: 231px;
        margin-bottom: 20px;
        margin-left: 3px;
    }
    .txtbuscador{
        width: 99%;
        min-width: 231px;
        margin-left: 3px;
        margin-bottom: 20px;
    }
    .btn-search{
        display: block;
        width:100%;
        min-width: 231px;
        margin-left: 3px;  
    }
    .resultSearch{
        margin-left: 15%; 
    }
   .content-modal-RClie{
        width: 70%;
        height: 65%;
        margin-left: -45%;
        margin-top: -240px;
        font-size: 14px;
    }
     .content-modal-edit{
        width: 70%;
        height: 70%;
        margin-left: -45%;
        margin-top: -240px;
        font-size: 10px;
    }
    .content-modal{
        width: 70%;
        height: 75%;
        margin-left: -45%;
        margin-top: -240px;
        font-size: 10px;
    }
    .content-modalR{
        width: 70%;
        height: 65%;
        margin-left: -45%;
        margin-top: -240px;
        font-size: 10px;
    }
     #title-modal h2{
        display: inline-block;
        width: 100%;
        height: 40px;
        display: block;
    }
    .btn-modal,.btnModalsalir{
         width: 100%;
         margin-bottom: 10px;
         margin-top: 10px;
    }
    .content-modal h2,.content-modalR h2 ,.content-modal-edit h2,.content-modal-RClie h2{
         float: none;
         text-align: center;
    } 
    #formulario input{
         width: 85%;
         height: 1px;
         min-width: 154px;  
    }
     #formulario .cbxMedidas{
        width: 94%;
         min-width: 179px;
        height: 25px;
        font-size: 12px;
    }
    .btn-modal.regresarR{    
         margin-top: 5px;
    }
    .resultSearchC{
        width: 97%;
        min-width: 205px;
    }
    .tabs{
        margin-top: -110px;
        width: 100%;
    }
    .tabs-nav li{
        width: 100%;
    }
    .reportes-busquedas{
        margin: auto;
    }
    .txtbuscador2{
        width: 100%;
        min-width: 200px;
        margin-bottom: 15px;
    }
    .btn-search2{
        width:100%;
        min-width: 200px;
        margin: auto;
        margin-bottom: 15px;
        }
    .ResultClientes,.ResultEmpresas{ 
        width: 100%;
        margin-bottom: 15px;    
    }
    .Area-Resultados-table{
      width: 100%; 
    }
    .filt1,.filt2{
        width: 96%;
        height: 40px;
        min-width: 190px;
        margin-bottom: 20px;
        font-size: 14px;
    }
     #contentTable{
         width:96%;
         min-width: 200px;
         margin-bottom: 20px;
         font-size: 12px;
    }
    .btnPDF{
        margin:0 auto;
        margin-bottom: 15px;
        width: 100%;
        min-width: 200px; 
    }
}

/*Pantalla tablet*/
@media screen and (min-width: 481px) and (max-width: 768px){
     .header-profile{
        position: fixed;
        display: none;   
    }
     nav{
        top:70px;
        width: 35%;
        height: 100%;
        left: -100%;
        margin: 0 auto;
        border: 1px solid transparent;
        z-index: 3; 
        transition: all .3s;      
    }  
      nav.mostrar {
        left: 0;
    }
    .title-menu{
        display: block;
        width: 100%;
        background-color: #ccc;
        text-align: center;
    }
    .title-menu .btn-menu{
        display: block;
        padding: 20px;
        background-color:#203c67;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        box-sizing: border-box;
    }
    .title-menu span{
        float: left;
        font-size: 30px;
    }
    #content-principal{
        margin: 0;     
        margin-top: 70px;
    }   
    #graficoPastel{
        margin: auto;
        width: 60%;
    }
    #area-busquedas{
        width: 100%;
    }
    .btn-Registro{
        width:90%;
        margin-bottom: 20px;
        margin-left: 30px;
    }
    .txtbuscador{
        width: 84%;
        margin-left: 30px;
    }
     .container-result{
         width: 100%;
         margin: 0 auto;
         margin-top: -160px;
    }
    .resultSearch{
        margin: auto;
        margin-top: 40px;
        margin-left: 3.6%;    
    }  
    .content-modal {
    width: 70%;
    height: 68%;
    margin-left: -40%;
    margin-top: -225px;
    font-size: 12px;
}
    .content-modalR{
        width: 70%;
        font-size: 12px;
        margin-left: -40%;
        margin-top:  -250px;
    }
    .content-modal-RClie{
        width: 70%;
        margin-left: -40%;
        margin-top:  -230px;
        font-size: 14px;
    }
    .content-modal-edit{
        width: 50%;
        height: 60%;
        margin-left: -25%;
        margin-top:  -220px;
        font-size: 12px;
    }
    .content-modal-edit{
        width: 50%;
        height: 65%;
        margin-left: -25%;
        margin-top:  -220px;
        font-size: 12px;
    }
     #formulario input{
        width: 85%;
        height: 1px;
        min-width: 154px;  
    }
     #formulario .cbxMedidas{
        width: 91%;
        height: 25px;
        font-size: 12px;
    }
    .resultSearchC{
        width: 97%;
        margin: auto;
        margin-top: 40px; 
    }
     .tabs{
        margin-top:-30px;
        width: 100%;
    }
    .tabs-nav li{
        width: 100%;
    }
    .reportes-busquedas{
        margin: auto;
    }
    .txtbuscador2{
        width: 100%;
        min-width: 200px;
        margin-bottom: 15px;
    }
    .btn-search2{
        width:100%;
        min-width: 200px;
        margin: auto;
        margin-bottom: 15px;
        }
    .ResultClientes,.ResultEmpresas{ 
        width: 99%;
        margin-bottom: 15px;    
    }
    .Area-Resultados-table{
      width: 100%; 
    }
    .filt1,.filt2{
        width: 97.4%;
        height: 40px;
        min-width: 253px;
        margin-bottom: 20px;
        font-size: 14px;
    }
     #contentTable{
         width:100%;
         min-width: 267px;
         margin-bottom: 20px;
    }
    .btnPDF{
        margin:0 auto;
        margin-bottom: 15px;
        width: 100%;
        min-width: 270px; 
    }
}
/*Para equipo de escritorio normal*/
@media screen and (min-width: 769px){
 .AreaBusquedas{
        float: left; 
        margin-right: 40px;
        margin-bottom: 10px;
    }

}
/*inicio ajustes tablet-normal-*/
@media screen and (min-width: 770px) and (max-width: 997px){
 #contentTable{
         width:445px;
    }
    .filt1,.filt2{
         width:435px;
        height: 40px;
        font-size: 12px;
    }
    .filtros{
        margin-bottom: 20px;
    }
     .ResultClientes, .ResultEmpresas {
    width: 450px;  
}
    .txtbuscador2 {
    width: 415px;
}
    .btn-search2 {
    
    width: 40px;
   
    }
}
@media screen and (min-width: 998px) and (max-width: 1177px){
 #contentTable{
         width:375px;
    }
    .filt1,.filt2{
         width:  360px;
        height: 40px;
        font-size: 10px;
    }
    .filtros{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1178px) and (max-width: 1351px){
 #contentTable{
         width:575px;
    }
    .filt1,.filt2{
            width: 560px;
        height: 40px;
    }
    .filtros{
        margin-bottom: 20px;
    }
}

/* fin ajustes tablet-normal-*/