@{
    ViewBag.Title = "estadisticas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sección de estadísticas </h1>
<div id="graficoPastel"><p id="loading">Cargando grafico...</p></div>
<p class="info-seccion" id="vete">En esta sección se muestra una gráfica de pastel en la cual se puede notar los diferentes porcentajes que ocupan las categorías con las que trabaja el sistema de places los cuales son calculados en base a los datos tomados de nuestra base de datos.</p>